.boys-first-bar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.socials-boys {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.boys-description {
  border-top: 4px solid grey;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  font-size: 17.5px;
}

.imageGallery {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.boys-Hudl {
  width: 100%;
}

.BRVBhudl {
  width: 10%;
  height: 10%;
}
.icon-boys {
  width: 100%;
  height: 100%;
}

.boys-insta {
  width: 10%;
  height: 10%;
}

.boys-title {
  display: flex;
  justify-content: center;
  font-size: 7.5px;
  font-weight: bold;
}

.icon-boys:hover {
  color: grey;
  transition: 0.5s;
}

.boys-awards {
  font-size: 75%;
  padding-bottom: 2%;
}

.boys-players-tab {
  height: 25%;
  text-align: center;
}
.boys-players-title {
  border-bottom: 4px solid grey;
  text-align: center;
}

.boys-player {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 410px;
  text-align: center;
}
.boys-player-img {
  height: 65%;
  border-radius: 8px;
}
.boys-player-text {
  height: 10%;
}
.boys-roster {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.boys-third-bar {
  display: flex;
  justify-content: space-between;
}
.boys-coach {
  height: 100%;
  width: 55%;
}
#open-romanak1,
#open-romanak2,
#closed-romanak2,
#closed-romanak1 {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
}
.coach-title {
  border-bottom: 4px solid grey;
}
.boys-recent-news {
  width: 40%;
  text-align: end;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.boys-news-img {
  width: 100%;
  border-radius: 8px;
}
.boys-news-img:hover {
  transform: scale(1.01);
  transition: 1s;
}
.boys-news-item {
  height: 40%;
  text-align: center;
  font-size: 20px;
}
.news-title {
  border-bottom: 4px solid grey;
}
.open-coach-description {
  transition: all 1s ease-in-out;
}

.closed-coach-description {
  opacity: 0;
  height: 0;
}

.open-button {
  position: absolute;
  translate: 10px 370px;
}

.open-button:hover,
.closed-button:hover {
  cursor: pointer;
}

.closed-button {
  position: absolute;
  translate: 10px 950px;
}
#open-rom1 {
  transition: all 1s ease-in-out;
}

#closed-rom1 {
  opacity: 0;
  height: 0;
}

#open-rom2 {
  opacity: 0;
  height: 0;
}

#closed-rom2 {
  transition: all 1s ease-in-out;
}
#open-romanak2 {
  height: 0;
  width: 0;
}
#open-second-boys {
  transition: all 1s ease-in-out;
}
#closed-romanak1 {
  height: 0;
  width: 0;
}
#closed-second-boys {
  opacity: 0;
  height: 0;
  font-size: 0;
}

#boys-description-open {
  opacity: 0;
  height: 0;
}

#boys-description-closed {
  margin-top: 10px;
  width: 3.5%;
  margin: 0 46.5%;
}

.open-boys-player-socials {
  width: 25%;
  margin: 10% 37.5%;
}

.closed-boys-players-socials {
  opacity: 0;
  height: 0;
}
@media (width <= 1300px) {
  .boys-first-bar-container {
    width: 90%;
  }
  .boys-players-tab {
    width: 90%;
  }
  .boys-third-bar {
    width: 90%;
  }
  .closed-button {
    translate: 10px 1750%;
  }
}

@media (width <= 1200px) {
  .boys-player {
    width: 30%;
    margin: 10px 0;
  }
  .boys-roster {
    flex-wrap: wrap;
  }
  .closed-button {
    opacity: 0;
  }
  .open-button {
    opacity: 0;
  }
  #closed-rom2 {
    opacity: 0;
    transition: none;
    height: 0;
  }
  #closed-rom1 {
    opacity: 100;
  }
  #open-romanak1 {
    opacity: 100;
  }
  .closed-coach-description {
    opacity: 100;
    height: 100%;
  }
}

@media (width <= 700px) {
  .boys-player {
    width: 100%;
    margin: 10px 0;
  }
  .boys-roster {
    flex-direction: column;
  }
}
