.boys-section {
  width: 100%;
  height: 750px;
  background-color: rgb(26, 24, 24);
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.boys-container {
  height: 100%;
  width: 100%;
  margin: 0% 5%;
}

.boys-flex {
  height: 100%;
  width: 100%;
}
.socialsBoys {
  width: 17.5%;
  display: flex;
  height: 15%;
  justify-content: space-between;
}

.boysDescription {
  width: 100%;
  height: 50%;
  padding-top: 5%;
  font-size: 112.5%;
}

.imageGallery {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
}

.rightSide {
  width: 45%;
  padding-left: 2.5%;
}
.boysHudl {
  width: 100%;
  height: 95%;
}

.BRVBhudl {
  width: 100%;
  height: 80%;
}
.iconBoys {
  width: 100%;
  height: 80%;
}

.hudlBoys {
  width: 37.5%;
  height: 50%;
}
.instagram {
  width: 50%;
}

.boysInsta {
  width: 50%;
  height: 50%;
}

.boysTitle {
  display: flex;
  justify-content: center;
  font-size: 50%;
  font-weight: bold;
}

.iconBoys:hover {
  color: grey;
  transition: 0.5s;
}

.boysAwards {
  font-size: 75%;
  padding-bottom: 2%;
}
