.home-section {
  z-index: 5;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
}
.home-container {
  width: 100%;
  height: 100%;
}

.backgrounds {
  width: 100%;
  display: flex;
}

.boyBackground {
  width: 50%;
}

.girlBackground {
  width: 50%;
}
