.navbar-section {
  height: 100px;
  background-color: white;
  border-bottom: 2px solid black;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.navbar-container {
  height: 100%;
  margin: 0 50px;
}

.navbar-flex {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

#left-navbar {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}

#right-navbar {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 100%;
}

.img-logo {
  height: 100%;
}

.school-name {
  margin: 0;
  // font-family: "fantasy", sans-serif;
}

@media (width <= 1180px) {
  .school-name {
    display: none;
  }
}
.img-high {
  height: 82.5px;
}

.dropmenu {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translate(-22.5px, 30px);
  background-color: white;
  padding: 7.5px;
}

.closed-menu {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.open-menu {
  transition: all 0.5s ease-in-out;
}

.link {
  border-bottom: 1px black solid;
  transition: all 0.5s ease;
  &:hover {
    background-color: rgb(206, 202, 202);
  }
}
