.navbar-section {
  z-index: 5;
  // position: fixed;
  top: 100px;
  width: 100%;
  height: 100px;
  background-color: white;
  border-bottom: 2px solid black;
}

.navbar-container {
  height: 100%;
}

.navbar-flex {
  height: 100%;
  justify-content: space-between;
}

.img-logo {
  height: 100%;
}
.schoolName {
  width: 550px;
  font-size: 27.5px;
  padding-top: 1.5%;
  font: "fantasy";
}

.img-high {
  height: 75%;
  padding-top: 10%;
}

.dropmenu {
  padding-top: 2%;
}
