.bottombar-section {
  background-color: rgb(26, 24, 24);
  height: 125px;
  color: white;
}
.bottombar-flex {
  justify-content: center;
  font-size: 15px;
}
.bottombar-container {
  width: 100%;
}
.img-origin {
  color: white;
}
.top {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
