.bottombar-section {
  background-color: white;
  border-top: 4px solid grey;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 150px;
}
.bottombar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  width: 90%;
  display: flex;
}
.imgOrigin {
  width: 20%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smugLogo {
  height: 100%;
  border-radius: 50%;
}

.icon {
  height: 100%;
}

.links {
  display: flex;
  height: 50%;
  justify-content: space-between;
  width: 70%;
}

.icon:hover {
  color: grey;
  transition: 0.5s;
}

.hsimg {
  height: 150px;
}
.camplogo {
  height: 150px;
}

.extraInfo {
  width: 50%;
  font-size: 100%;
  display: flex;
  align-items: center;
}

.internalLinks {
  display: flex;
  flex-direction: column;
}

.pages {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.pages:hover {
  transition: 0.5s;
  color: grey;
}

.leftSide {
  display: flex;
  width: 70%;
  justify-content: space-between;
}

@media (width <= 1150px) {
  .bottombar-flex {
    display: flex;
    flex-direction: column;
  }
  .leftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .extraInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
